.jumbotron {
    text-align: center;
    /* height: 300px; */
    opacity: 0.9;
    padding: 25px;
    color:#e9ecef;
    background-color: rgb(24, 23, 23);
    margin-bottom: 0;
}

.wrapper {
    margin: 0 auto;
}