.body {
  background-image: url("/images/background.png");
  background-size: cover;
}

.container {
  padding-left: 6.5%;
  padding-bottom: 10%;
}

@media only screen and (max-width:960px) {
  .container {
    padding-left: 12%;
  }
}